<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a2b1a6c5c9.js" crossorigin="anonymous"></script>
    <link href= "/css/styles.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="logo_marca">
        <img class= "header_logo" src="/images/prueba_logo_todoConcuerda.jpg" width="100" alt="Logo TodoConcuerda">
        <div class="logo_marca_titular">
        <h2>Todo Concuerda</h2>
        <h3>Tienda Online</h3>
        </div>
         <div class="icono_menu_hamburguesa">
            <i class="fa-solid fa-bars" style="color:white"></i>
         </div>
    </div>
  </header>

<main>
  <section class="tu_compra">
        <h3> Tu compra </h3>
        <i class="fa-solid fa-cart-shopping"></i>
  </section>
    <hr>
  <section class="descripcion_producto">
      <div class="imagen_producto">
        <img src="/images/imagen_compra.jpg">
      </div>
      <div class="detalle_producto">
        <h3>Violín Yamaha HGF 9765</h3>
        <div class="borrar_carrito">
          <i class="fa-solid fa-trash"></i>
          <h5>Borrar</h5>
        </div>
      </div>     
  </section>
  <section class="descripcion precio">
    <div class="desglose_precio">
      <div class="items_desglose_precios">
        <ul type="none">
          <li>Precio</li>
          <li>Cantidad</li>
          <li>Total</li>
        </ul>
      </div>
      <div class="linea_cuadrados">
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
        <div class="cuadrado"></div>
      </div>
      <div class="descripcion_pago">
        <ul type="none">
          <li>Subtotal $ </li>
          <li>Envío $ </li>
          <li>Total $ </li>
        </ul>
      </div>
    </div>
  </section>
  </main>
  <footer>
    <img class= "imagen_tarjetas_credito" src="/images/tarjetas_credito.jpg" alt="Tarjetas crédito">
    <div class="finalizar_compra">
      <i class="fa-solid fa-lock"></i>
      <h3>Finalizar Compra</h3>
    </div>
  </footer>
</body>
</html>
  
