<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a2b1a6c5c9.js" crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>

/* CARRITO */

<body>
  <header>
    <div class="logo_marca">
        <img class= "header_logo" src="/images/prueba_logo_todoConcuerda.jpg" width="200" alt="Logo TodoConcuerda">
        <h2>Todo Concuerda</h2>
        <h3>Tienda Online</h3>
         <div class="icono_menu_hamburguesa">
            <i class="fa-solid fa-bars" style="color:white"></i>
         </div>
    </div>
  </header>

  <main>
    <section class="tu_compra">
        <h3> Tu compra </h3>
        <i class="fa-solid fa-cart-shopping"></i>
    </section>
    <hr>
    <section class="imagen_descripcion_compra">
        <img class="imagen_compra" src="/images/imagen_compra.jpg">
        <div class="descripcion_precio">
         <ul type="none" class="lista_descripcion_precio">
            <li>Precio</li>
            <li>Cantidad</li>
            <li>Total</li>
         </ul>
         
    

  </main>