<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Concuerda | Home</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="detail">
    <header class="index__header">
        <div class="index__header__logo">
            <img src="/images/logo.jpeg" alt="">
        </div>
        <nav class="index__header__nav">
            <ul class="index__header__nav--user">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Registro</a></li>
            </ul>
            <ul class="index__header__nav--menu">
                <li><a href="">Guitarras</a></li>
                <li><a href="">Violines</a></li>
                <li><a href="">Bajos</a></li>
                <li><a href="">Accesorios</a></li>
            </ul>
        </nav>
    </header>
    <main class="detail__main">
        <section class="detail__main__section general__main__section">
            <article class="detail__main__section__article">
                <img src="/images/guitarra.jpg" alt="">
                <div class="detail__main__section--images">
                    <img src="/images/bajo.jpg" alt="">
                    <img src="/images/guitarra.jpg" alt="">
                    <img src="/images/violin.jpg" alt="">
                </div>
            </article>
            <div class="detail__main__section--content">
                <h2>Guitarra</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere omnis suscipit minus quasi, nisi
                    dolor est itaque necessitatibus eos at quas ea praesentium, debitis labore, cupiditate quis ad
                    explicabo dicta.</p>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
        </section>


    </main>




</body>