<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Concuerda | Detalle del Producto</title>
    <script src="https://kit.fontawesome.com/ae7c764a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="detail">
    <header class="index__header">
        <div class="index__header__logo">
            <a href="/"><img width="200" src="/images/logo.jpeg" alt=""></a>
        </div>
        <nav class="index__header__nav">
            <form action="">
              <div class="form__box__search">
                <input type="text" placeholder="Busqueda" name="keywords"><button type="submit"
                  class="form__buttom--search"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </nav>
          <buttom class="index__header__seen"
            onclick="document.querySelector('.index__header__nav--menu').classList.toggle('show')"><i class="fa fa-bars"></i>
            Menu </buttom>
          <nav>
            <ul class="index__header__nav--user">
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Registro</a></li>
              <li><a href="">Guitarras</a></li>
              <li><a href="">Violines</a></li>
              <li><a href="">Bajos</a></li>
              <li><a href="">Accesorios</a></li>
            <img width="20" src="images/carrito.png" alt="">
            </ul>
          </div>
          </nav>
        </header>
       
    </header>
    <main class="detail__main">
        <section class="detail__main__section">
            <article class="detail__main__section__article">
                <img src="/images/guitarra.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1> Guitarra criolla clásica Gracia M1 para diestros natural</h1>
                <h2>$5.800</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Construida en abedul.</li>
                <li>Tiene 6 cuerdas de nailon.</li>
                <li>Guitarra versátil que se adapta a una gran variedad de estilos musicales</li>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>  
            <article class="detail__main__section__article">
                <img src="/images/violin.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1>Violin Acústico Segovia Estudio Antique Mate 1/2 Tilo Arco</h1>
                <h2>$14.000</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Violin de estudio antique 1/2 MATE.</li>
                <li>Terminación: Marrón antiguo mate.</li>
                <li>Tapa: madera contrachapada de
                    tilo. Parte posterior y lateral: madera contrachapada de tilo. Diapasón: Madera dura terciada. Clavija
                    y Mentonera: madera terciada. Cordal: aleación de aluminio. Arco redondo de palisandro. Estuche
                    Triangular de Gomaespuma.</li>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
            <article class="detail__main__section__article">
                <img src="/images/bajo.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1>Bajo Eléctrico Sx Precisión 5 Cuerdas Fpb-62/5 + Funda</h1>
                <h2>$19.700</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Escala: 864mm </li>
                <li>Cuerpo: Basswood</li>
                <li> Mastil:Canadian Maple</li>
                <li>Diapason: Rosewood</li>
                <li>Trastes: 20 Nickel</li>
                <li> Clavijas: Open-Gear, Chrome</li>
                <li>Puente: Chrome</li>
                <li>Pickups: 2 x Single Coil</li>
                <li> Controles: 2V. 1T.</li>
                <li> Accessorio: SX BB400 Gig Bag</li>

                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
        </section>
    </main>
    <footer class="detail__footer">
        <h2>Ubicación</h2>
        <p>Nos encontramos en Presidente Perón 4444, Buenos Aires.</p>
        <h2>Medios de pago</h2>
          <img width="25" src="/images/visa.jpg" alt="">
          <img width="25" src="/images/mastercard.jpg" alt="">
          <img width="25" src="/images/mercadopago.jpg" alt="">
        <h2>Contacto | Redes</h2>
         <img width="15" src="/images/whatsapp.jpg" alt="">
         <img width="15" src="/images/instagram.jpg" alt="">
         <img width="15" src="/images/facebook.jpg" alt="">
      </footer>




</body>