/* CARRITO BODY */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: var(--roboto);
}

/* HEADER */

.header {
    flex-wrap: wrap;
    background-color: var(--marronClaro);
}

.logo_marca {
    display:flex;
    flex-direction: row;
    color: var(--grisClaro);
    gap: 20px;
    align-items: center;
}

.logo_marca img {
    padding: 20px;    
}


.icono_menu_hamburguesa i {
    display: flex;
    justify-content: center;
    width: 35px;
    background-color: var(--colorCeleste); 
    padding-bottom:15px;
    text-align: center;
    margin: auto; 
}

/* MAIN */

.main {
    display: flex;
}

.tu_compra {
    background-color: white;
    display:flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    height: 50px;
}

.tu_compra h3 {
    flex-grow: 0.9;
    padding: 15px;
    font-size: --var(--tamanioTitulares);

}

.tu_compra i {
    border-radius: 30%;
    border: 1px solid #010702;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    }

.cuerpo_principal{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap:15px;
}

.descripcion_precio{
    flex-grow: 0.8;
    padding: 50px;
    justify-content: space-between;
}

.items_desglose_precios ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.descripcion_producto{
    padding: 50px;
}

.items_desglose_precios {
    flex-direction: row;
    justify-content: space-around;

}

.detalle_producto{
    padding:20px;
}


/* FOOTER */

.finalizar_compra {
    height: 80px;
    background-color: var(--marronClaro);
    display: flex;
    align-items: center;
}

.finalizar_compra h3 {
    font-size: 24px;
    color: var(--grisClaro);
    background-color: var(--marronClaro);
    text-align: right;
    margin-right: 40px;
}