
.index__header{
    background-color: rgb(204, 118, 68);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    gap: 10px;
}
.index__header__logo img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
 
    
    

}
.index__header__seen{
    border: 1px solid #361500;
    background: none;
    color: #361500;
    padding: 12px;
    border-radius: 7px;
}
.index__header__nav--user, .index__header__nav--menu ul li{
    display: none;
    width: 50%;

}

.index__header a{
    color: black;
    text-transform: uppercase;
}



.carrito img{
    display: flex;
    flex-wrap: wrap;
    width: 50%;

}

.index__main{
    background-color: #CC9544;
    display: flex;
    flex-wrap: wrap;
}

.banner__main__section{
    display: flex;
    flex-wrap: wrap;
    width:100% ;
    justify-content: center;


}
.oferta__main__section h2{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.index__main__section--products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;

}
.index__main__section__instrument--product{
    width: 90%;
}
.index__main__section__instrument--product figure img{
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
     
     
}
.index__main__section__instrument--product h2 {
    margin: 20px 0;
}


.general__buttom__product{
    display:initial;
    margin-top: 20px;
    padding: 10px;
    background-color:#603601;
    color:#1C0A00 ;
    

}






