@import "./normalize.css"; /* importa hoja normalize */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* importa fuente */
<<<<<<< HEAD
@import "/css/carrito.css";
@import "./form.css";
@import "./register.css";
=======
>>>>>>> main

:root{ --negro: #1C0A00; 
    --marronOscuro: #361500;
    --marronIntermedio: #603601;
    --marronClaro: #CC9544;
    --grisClaro: #f0ede8;
    --tamanioDescuentos: 16px;
    --tamanioDescripciones: 16px;
   
    /*TIPOGRAFIA*/
    --roboto: "Roboto", sans-serif;
}

