@import "./normalize.css"; /* importa hoja nomalize */
@import "./variables.css"; /* importa hoja con variables de tipografía, tamaño de letra y paleta de colores */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); /* importa fuente */

/* CARRITO */

/* CARRITO BODY */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: var(--roboto);
}

/* HEADER */

.header {
    flex-wrap: wrap;
    background-color: var(--marronClaro);
}

.logo_marca {
    display:flex;
    flex-direction: row;
    color: var(--grisClaro);
    gap: 20px;
    align-items: center;
}

.logo_marca img {
    padding: 20px;    
}

.icono_menu_hamburguesa {
    text-align: center;
    width: 35px;
    margin: auto; 
    background-color: var(--colorCeleste); 
    padding:10px;
}

/* MAIN */

.main {
    display: flex;
}

.tu_compra {
    background-color: white;
    display:flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.descripcion_producto{

}

.items_desglose_precios {
    flex-direction: row;
    justify-content: space-around;

}