.footer{
    display: flex;
    flex-direction: column;
    background-color: #f1ce76;
    padding: 15px;
    gap: 5px;
    font-size: 16px;
    align-items: center;
 }



.footer h2 {
    font-size: 12px;
    font-style: oblique;
    font-weight: 600;
    margin: 10px 0;
}

.footer_medios_de_pago, .footer_contacto {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer_contacto i {
    font-size: 20px;
}

@media (min-width:768px) {
    .footer{
        flex-direction: row;
        justify-content: space-around;
        height: 20vh;
     }
}