.index__main{
    background-color: #CC9544;
    display: flex;
    flex-wrap: wrap;
}

.banner__main__section{

    flex-wrap: wrap;
    width:100% ;
    justify-content: center;
    display: none;


}
.oferta__main__section h2{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
}

.index__main__section--products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;

}
.index__main__section__instrument--product{
    width: 90%;
}
.index__main__section__instrument--product figure img{
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
     
     
}
.index__main__section__instrument--product h2 {
    margin: 20px 0;
}


.general__buttom__product{
    display:initial;
    margin-top: 20px;
    padding: 10px;
    background-color:#603601;
    color:#1C0A00 ;
    

}


.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
 }



