.index__main{
    display: flex;
    background-color: #CC9544;
    flex-wrap: wrap;
    flex-direction: column;
}

.banner__main__section{

    flex-wrap: wrap;
    width:100% ;
    justify-content: center;
    display: none;


}
.oferta__main__section h2{
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;

}

.index__main__section--products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    margin-bottom: 30px;

}
.index__main__section__instrument--product{
    width: 90%;

}
.index__main__section__instrument--product figure img{
    
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
     
     
}
.index__main__section__instrument--product h2 {
    margin: 20px 0;
}


.general__buttom__product{
    display:initial;
    margin-top: 20px;
    padding: 10px;
    background-color:#603601;
    color:#1C0A00 ;
    

}


.img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
 }

 @media (min-width:1024){


    .banner__main__section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }

    .oferta__main__section{
        display: flex;
        font-family: sans-serif;
        font-weight: bold;
        text-align: center;
        margin: auto;
        padding: 10px;
        gap: 15px;

    }
    .index__main__section__instrument--product{
        display: flex;
        width: 30%; 
    }
    
 }



