<%- include('./partials/head',{
  title : 'Carrito'
}) %> 

<body class="carrito">
  <%- include('./partials/header') %> 

<main class="carrito__main">
        <h3> Tu compra </h3>
        <hr style= height:4px; color="brown">
    <section class="carrito__main__section__product">
      <article class="carrito__main__section__product--detail">
            <img src="/images/imagen_compra.jpg">
          <div class="carrito_detalle_producto">
            <p>Violín Yamaha HGF 9765</p>
            <div class="carrito_borrar_carrito">
              <i class="fa-solid fa-trash"></i>
              <p>Borrar</p>
            </div>
          </div>     
        </div>
      </article>
      <article class="carrito__main__section__product--buy">
        <table class="table">
          <thead >
            <tr class="carrito__tr__items">
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody class="carrito_buy_box">
            <tr >
              <td class="buy-box">$2000</td>
              <td class="buy-box">2</td>
              <td class="buy-box">$4000</td>
            </tr>
          </tbody>
        </table>
        <ul>
          <li>Subtotal <span>$</span></li>
          <li>Envío <span>$</span></li>
          <li>TOTAL <span>$</span></li>
        </ul>
      </article>
    </section>
  <section class="carrito_fin_de_compra">
    <section class="carrito_compra_segura">
    <img class= "carrito_imagen_tarjetas_credito" src="/images/tarjetas_credito.jpg" alt="Tarjetas crédito">
    <p>Compra segura</p>
    </section>
    <div class="carrito_finalizar_compra">
      <i class="fa-solid fa-lock"></i>
      <h3>Finalizar Compra</h3>
  </section>
 </main>
  <%- include('./partials/footer') %> 
</body>
</html>
  
