<%- include('./partials/head',{
  title : 'Home'
}) %> 

<body class="index">
<%- include('./partials/header') %> 
  <main class="index__main">
    <section class="banner__main__section">
      <img  class="banner__section__image" width="900" src="/images/banner.jpg" alt="">
    </section>

    <section class="oferta__main__section">
      <h2>Ofertas Imperdibles</h2>
    </section>

    <section class="index__main__section--products">
      <article class="index__main__section__instrument--product">
          <img src="/images/guitarra3.jpg" alt="">
        <h2>Guitarra Criolla</h2>
        <ul>
          <li><span> Marca:</span> Freedom</li>
          <hr>
          <li><span> Modelo:</span> CG-300</li>
          <hr>
          <li><span> Tipo:</span> Clásica</li>
          <hr>
          <li><span> Color:</span> Rojo/Negro</li> 
          <hr>
          <li><span> Precio:</span> $6.300</li>
        </ul>
        
       
        <a class="general__buttom__product" href="/products/detail">Ver más</a>
      </article>
      <article class="index__main__section__instrument--product">
        <img src="/images/guitar2.jpg" alt="">
      <h2>Guitarra Criolla</h2>
      <ul>
        <li><span> Marca:</span> Gracia</li>
        <hr>
        <li><span> Modelo:</span> M1</li>
        <hr>
        <li><span> Tipo:</span> Clásica</li>
        <hr>
        <li><span> Color:</span> Natural</li> 
        <hr>
        <li><span> Precio:</span> $5.800</li>
      </ul>
      
     
      <a class="general__buttom__product" href="/products/detail">Ver más</a>
    </article>
      <article class="index__main__section__instrument--product">
          <img src="/images/violin3.jpg" alt="">

        <h2>Violin</h2>
        <ul>
          <li><span> Marca:</span> Segovia</li>
          <hr>
          <li><span> Modelo:</span> VP103H12</li>
          <hr>
          <li><span> Tipo:</span> Acústico</li>
          <hr>
          <li><span> Color:</span> Marrón</li> 
          <hr>
          <li><span> Precio:</span> $14.000</li>
        </ul>
       
        <a class="general__buttom__product" href="/products/detail">Ver más</a>
      </article>
      <article class="index__main__section__instrument--product">
          <img src="/images/bajo2.jpg" alt="">

        <h2>Bajo</h2>

        <ul>
          <li><span> Marca:</span> SX</li>
          <hr>
          <li><span> Modelo:</span> FPB-62</li>
          <hr>
          <li><span> Tipo:</span> Precisión</li>
          <hr>
          <li><span> Color:</span> Marrón oscuro</li> 
          <hr>
          <li><span> Precio:</span> $19.700</li>
        </ul>

        <a class="general__buttom__product" href="/products/detail">Ver más</a>
      </article>
    </section>
  </main>
  <%- include('./partials/footer') %> 

</body>
