<%- include('./partials/head',{
  title : 'Detalle del producto'
}) %> 

<body class="detail">
  <%- include('./partials/header') %> 
    <main class="detail__main">
        <section class="detail__main__section">
            <article class="detail__main__section__article">
                <img src="/images/guitarra.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1> Guitarra criolla clásica Gracia M1 para diestros natural</h1>
                <h2>$5.800</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Construida en abedul.</li>
                <li>Tiene 6 cuerdas de nailon.</li>
                <li>Guitarra versátil que se adapta a una gran variedad de estilos musicales</li>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>  
            <article class="detail__main__section__article">
                <img src="/images/violin.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1>Violin Acústico Segovia Estudio Antique Mate 1/2 Tilo Arco</h1>
                <h2>$14.000</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Violin de estudio antique 1/2 MATE.</li>
                <li>Terminación: Marrón antiguo mate.</li>
                <li>Tapa: madera contrachapada de
                    tilo. Parte posterior y lateral: madera contrachapada de tilo. Diapasón: Madera dura terciada. Clavija
                    y Mentonera: madera terciada. Cordal: aleación de aluminio. Arco redondo de palisandro. Estuche
                    Triangular de Gomaespuma.</li>
                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
            <article class="detail__main__section__article">
                <img src="/images/bajo.jpg" alt="">
            </article>
            <div class="detail__main__section--content">
                <h1>Bajo Eléctrico Sx Precisión 5 Cuerdas Fpb-62/5 + Funda</h1>
                <h2>$19.700</h2>
                <h3>Lo que tenés que saber de este producto</h3>
                <li>Escala: 864mm </li>
                <li>Cuerpo: Basswood</li>
                <li> Mastil:Canadian Maple</li>
                <li>Diapason: Rosewood</li>
                <li>Trastes: 20 Nickel</li>
                <li> Clavijas: Open-Gear, Chrome</li>
                <li>Puente: Chrome</li>
                <li>Pickups: 2 x Single Coil</li>
                <li> Controles: 2V. 1T.</li>
                <li> Accessorio: SX BB400 Gig Bag</li>

                <a class="general__button__product " href="">Añadir al carrito</a>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %> 
</body>