<footer class="footer">
  <section class="footer_ubicación">
    <h2>¿Dónde encontramos?</h2>
    <p>Estamos ubicados en <a href="https://www.google.com/maps/place/Tte.+Gral.+Juan+Domingo+Per%C3%B3n+4444,+C1199ABH+CABA/@-34.6060878,-58.4297884,17z/data=!3m1!4b1!4m5!3m4!1s0x95bcca6f49307bb9:0x39458615d382f691!8m2!3d-34.6060878!4d-58.4297884">Presidente Perón 4444, CABA.</a></p>
  </section>  
  <section>
    <h2>Nuestros medios de pago</h2>
    <div  class="footer_medios_de_pago">
      <img  width="50" src="/images/visa.jpg" alt="">
      <img  width="50" src="/images/mastercard.jpg" alt="">
      <img  width="50" src="/images/mercadopago.jpg" alt="">
    </div>
    
    </section>
  <section >
    <h2>Contacto | Redes</h2>
    <div class="footer_contacto">
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
  
  </section>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
