<footer class="footer">
    <h2>Ubicación</h2>
    <p>Nos encontramos en Presidente Perón 4444, Buenos Aires.</p>
    <h2>Medios de pago</h2>
      <img  width="45" src="/images/visa.jpg" alt="">
      <img  width="45" src="/images/mastercard.jpg" alt="">
      <img  width="45" src="/images/mercadopago.jpg" alt="">
    <h2>Contacto | Redes</h2>
     <img width="15" src="/images/whatsapp.jpg" alt="">
     <img width="15" src="/images/instagram.jpg" alt="">
     <img width="15" src="/images/facebook.jpg" alt="">
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
