<header class="header">
    <div class="header__row">
        <div class="header__logo">
            <a href="/"><img src="/images/logo.jpeg"></a>
          </div>
          <buttom class="header__seen"
          onclick="document.querySelector('.header__nav').classList.toggle('show')"><i class="fa fa-bars"></i>
        </buttom>
    </div>   
    <div class="header__form">
        <form action="">

      <input type="text" placeholder="Busqueda" name="keywords"><button type="submit"
        class="form__buttom--search"><i class="fa fa-search"></i></button>
</form>

    <a href="/carrito"><img class="header__img__cart" src="/images/carrito.png" alt=""></a>
</div>

    <nav class="header__nav">
      <ul class="header__nav--user">
        <li><a href="/users/login">Login</a></li>
        <li><a href="/users/register">Registro</a></li>
        <li><a href="">Guitarras</a></li>
        <li><a href="">Violines</a></li>
        <li><a href="">Bajos</a></li>
        <li><a href="">Accesorios</a></li>
       
      
      </ul>
    </div>
    </nav>
  </header>